:root {
    --c-blue: #00a8ff;
    --c-green: #00ff9d;
    --c-grey: #bfbfbf;

    --btn-text-c: white;
    --btn-text-disabled-c: var(--c-grey);
    --btn-bg-c: transparent;
    --btn-border-c: var(--c-blue);
    --btn-hover-border-c: var(--c-green);
    --btn-disabled-border-c: var(--c-grey);
}

.btn {
    position: relative;
    display: block;
    padding: 0 24px;
    color: var(--btn-text-c);
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.3rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn:disabled {
    cursor: not-allowed;
    color: var(--btn-text-disabled-c);
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    border: 2px solid var(--btn-border-c);
}

.btn::before {
    top: 0;
    left: 0;
    border-right: 0;
}

.btn::after {
    top: 0;
    right: 0;
    border-left: 0;
}

.btn:hover::after,
.btn:hover::before {
    border-color: var(--btn-hover-border-c);
}

.btn:disabled::before,
.btn:disabled::after {
    border-color: var(--btn-disabled-border-c);
}

.btn--caps {
    text-transform: uppercase;
}
