:root {
    --newsletter-bg-c: transparent;
    --newsletter-heading-c: #fff;
    --newsletter-body-c: var(--c-grey);
}

.newsletter {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: var(--newsletter-bg-c);
}

.newsletter__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (min-width: 1024px) {
    .newsletter__container {
        height: 114px;
    }
}

.newsletter__inner {
    flex-grow: 1;
    text-align: center;
}

.newsletter__heading {
    color: var(--newsletter-heading-c);
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
}

.newsletter__body {
    line-height: 1.75rem;
    font-size: 1.125rem;
    color: var(--newsletter-body-c);
}
