[data-theme="dark"]:root {
    --ifm-navbar-link-color: #c8cfd4;
    --ifm-navbar-link-hover-color: white;
    --ifm-navbar-link-active-color: white;
    --ifm-navbar-background-color: var(--ifm-background-color);
    --ifm-menu-color: #c8cfd4;
}

.navbar {
    border-bottom: 0.5px solid white;
}

.navbar__logo {
    width: 260px;
}

.navbar__link:hover {
    text-shadow: 0.5px 0 0 currentColor;
}

.navbar__link--active {
    font-weight: bold;
    text-shadow: none !important;
}

.navbar-sidebar__back {
    color: #8f9aa3;
    background-color: var(--ifm-background-surface-color);
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar__toggle {
    color: white;
}

aside,
.navbar-sidebar {
    border-right: 0.5px solid white !important;
}
