.card-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 576px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    min-height: 156px;
}

.card__img {
    max-height: 38px;
    max-width: 38px;
    width: 100%;
    height: 38px;
    display: block;
    margin-bottom: 20px;
    margin-right: auto;
    background-color: aliceblue;
}
