.section {
    padding: 110px 0;
    position: relative;
}

.section:first-of-type {
    padding-top: 0;
}

.section:last-of-type {
    padding-bottom: 220px;
}

.section__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 41px;
    line-height: 45px;
}

.card__title {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.card__body {
    margin-top: 18px;
    margin-bottom: 0;
    color: var(--c-grey);
    line-height: 25px;
}
